<div class="container">
        <div class="row">
                <p class="copyright text-muted">
                        Copyright © @DateTime.Now.Year by Geoffrey Huntley. The opinions expressed herein are my ownand do not necessarily represent those of my clients. This work is licensed under a <a href="http://creativecommons.org/licenses/by-nc/4.0/" rel="license">Creative Commons Attribution-NonCommercial 4.0</a> &amp; unless otherwise stated or granted, code samples licensed under the <a href="http://sm.mit-license.org/">MIT license</a>. &lt;/&gt; available on <a class="fa fa-github" href="https://github.com/ghuntley/ghuntley"> GitHub</a>, help improve the quality of my site by <a href="/contributors">sending a pull request</a> if you spot an opportunity for improvement.
                        <br />
                        <a href="/feed.rss"><i class="fa fa-rss"></i> RSS Feed</a> | <a href="/feed.atom"><i class="fa fa-rss"></i> Atom Feed</a>
                </p>
        </div>
</div>