<nav role="navigation">
    <ul class="header_navMenu">
        <li class="navMenu_list" role="presentation">
            <a class="navMenu_link" href="/">Home</a>
        </li>

        <li class="navMenu_list" role="presentation">
            <a class="navMenu_link" href="/open-source/">Open Source</a>
        </li>

        <li class="navMenu_list" role="presentation">
            <a class="navMenu_link" href="/livecoding/">Live coding</a>
        </li>

        <li class="navMenu_list" role="presentation">
            <a class="navMenu_link" href="/speaking/">Speaking</a>
        </li>

        <li class="navMenu_list" role="presentation">
            <a class="navMenu_link" href="/about/">About</a>
        </li>

        <li class="navMenu_list" role="presentation">
            <a class="navMenu_link" href="/contact/">Contact</a>
        </li>
    </ul>
</nav>
