<li><a href="/about">about</a></li>
<li><a href="/blog">blog</a></li>
<li><a href="/open-source">open source</a></li>
<li><a href="/talks">talks</a></li>
<li><a href="https://twitter.com/geoffreyhuntley/" target="_blank">twitter</a></li>
<li><a href="http://www.weeklyxamarin.com/" target="_blank">weekly xamarin</a></li>

<!--<li><a href="/portfolio">portfolio</a></li>-->
<!--<li><a href="/unicycling">unicycling</a></li>-->
