<div class="widget sidebar-featured">
  <h4 class="sidebar-featured-header">Geoffrey Huntley</h4>
  <p>@Context.String(BlogKeys.Intro) <a href="/about" class="article_link-more fa fa-long-arrow-right"></a></p>
</div>

<div class="widget sidebar-featured">
  <h4 class="sidebar-featured-header">#upforgrabs</h4>

  <p>Every open source project loves new contributors and there are lots and lots of people who would love to contribute to Open Source, but don't know how. That's why I maintain a curated backlog of tasks for people who have never contributed to my projects before or are completely new to open-source. Often it takes more time to prepare these tasks than to actually implement them. I will invest in you, in hope that you will stick around and pay it forward when you are ready.</p>

  <ul>
    <li><a href="/data-breach-disclosure-101-how-to-succeed-after-youve-failed/">Data breach disclosure 101: How to succeed after you&#x27;ve failed</a></li>
  </ul>
</div>

