<ul class="list-unstyled">
    <li><a href="https://twitter.com/geoffreyhuntley"><i class="fa fa-twitter"></i> Twitter (geoffreyhuntley)</a></li>
    <li><a href="https://github.com/ghuntley"><i class="fa fa-github"></i> GitHub (ghuntley)</a></li>
    <li><a href="https://keybase.io/ghuntley"><i class="fa fa-key"></i> Keybase (ghuntley)</a></li>
    <li><a href="https://au.linkedin.com/in/geoffreyhuntley"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
</ul>